 /* Clyde to viggy was made by discord user krekevyks1337 (237616896948699136), all I did was fix it [it didnt work for me for some reason] and make it easier to customize. */

/* Profile Picture */
[aria-label="clyde, Online"][class^="wrapper_"],
[aria-label="clyde"] [class^="wrapper_"],
[aria-label="clyde"][class^="wrapper_"][src^="https://cdn.discordapp.com/avatars/1081004946872352958/a_6170487d32fdfe9f988720ad80e6ab8c"] {
  content: var(--customClydePic);
  width: 40px !important;
  height: 40px !important;
}
[aria-label="clyde"] [class^="wrapper_"] {
  width: 90px !important;
  height: 90px !important;
}

/* Name */
[aria-label="clyde"] [class^="username_"] {
  visibility: hidden;
}
[aria-label="clyde"] [class^="username_"]::before {
  content: var(--customClydeName);
  visibility: visible;
  width: 10px;
}

/* Popout AI Tag */
[aria-label="clyde"] [class^="headerBotTag_"] {
  display: none;
}

/* Banner */
[aria-label="clyde"] [class^="banner_"] {
  visibility: visible;
  content: var(--customClydeBanner);
}

/* Badge */
[aria-label="clyde"] [class^="textBadge_"] {
    visibility: visible;
    content: var(--clydeBadgeContent);
    min-width: 30px !important;
    min-height: 30px !important;
    max-width: 9999px !important;
    max-height: 9999px !important;
    height: var(--clydeBadgeHeight) !important;
    width: var(--clydeBadgeWidth) !important;
    padding: var(--clydeBadgePadding);
}
[aria-label="clyde"] [class*="base"] {
    background-color: var(--clydeBadgeBGColor) !important;
}
